<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>お知らせ一覧</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>お知らせ登録</h1>

  <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

  <form action="/notice/create" method="post">

    <p>タイトル</p>
    <input type="text" name="title" th:value="${title}">

    <p>本文</p>
    <textarea name="content" th:text="${content}"></textarea>

    <br>
    <button type="submit">登録</button>

  </form>

  <hr>

  <h1>お知らせ一覧</h1>

  <ul>
    <li th:each="notice : ${noticeList}">
      <strong th:text="${notice.title}">タイトル</strong>
      <p class="notice-content" th:text="${notice.content}">
        本文
      </p>

      <!-- 作成日時を表示 -->
      <p>
        作成日時：
        <span th:text="${notice.createdAt}">2026-05-22T10:00</span>
      </p>

      <!-- 更新日時を表示 -->
      <p>
        更新日時：
        <span th:text="${notice.updatedAt}">2026-05-22T10:00</span>
      </p>

      <form action="/notice/delete" method="post">
        <input type="hidden" name="id" th:value="${notice.id}">
        <button type="submit">削除</button>
      </form>

      <!-- 編集 -->
      <a th:href="@{/notice/edit/{id}(id=${notice.id})}">編集</a>

    </li>
  </ul>

</body>

</html>